<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>
      <span ion-text color="primary">All Requests</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">

  <ion-list>

    <!--<ion-grid no-padding fixed>-->
      <!--<ion-row>-->
        <!--<ion-col col-12 col-md-6 *ngFor="let broker of brokers">-->
          <!--<button ion-item (click)="openBrokerDetail(broker)">-->
            <!--<ion-avatar item-left>-->
              <!--<img src="{{broker.picture}}"/>-->
            <!--</ion-avatar>-->
            <!--<h2 ion-text color="dark" class="fw500">{{broker.name}}</h2>-->
            <!--<p ion-text color="primary">{{broker.title}}</p>-->
          <!--</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
    <ion-label *ngIf="!vouchers"> No Request Available Currently</ion-label>
    <ion-grid no-padding fixed *ngIf="vouchers">
      <ion-row>
        <ion-col col-12 col-md-6 *ngFor="let request of vouchers">
          <button ion-item (click)="openRequestDetails(request)">
            <ion-avatar item-left>
              <ion-icon name="albums"></ion-icon>
            </ion-avatar>
            <h2 ion-text color="dark" class="fw500">{{ request.user.full_name }}</h2>
            <p ion-text color="primary">{{ request.created_at }}</p>
            <p ion-text *ngIf="request.status === 'Approved'" color="secondary">{{ request.status }}</p>
            <p ion-text *ngIf="request.status === 'Pending'" color="primary">{{ request.status }}</p>
            <p ion-text *ngIf="request.status === 'Rejected'" color="danger">{{ request.status }}</p>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>
