<!-- -->
<ion-content padding class="profiles-bg">
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo">
        LOGO HERE
      </div>
      <h2 ion-text class="text-white" no-margin>
        Movie<strong>Hub</strong>
      </h2>
    </div>

    <div padding-vertical>
      <ion-segment color="light" [(ngModel)]="auth">
        <ion-segment-button (click)="toggleForm()" value="login">
          Login
        </ion-segment-button>
        <ion-segment-button (click)="toggleForm()" value="register">
          Register
        </ion-segment-button>
      </ion-segment>
    </div>
    <div *ngIf="error">
      <div *ngFor="let error of errors">
        <p ion-text color="danger" text-wrap>{{ error }}</p>
      </div>

    </div>
    <div>
      <!-- Login form -->
      <div id="loginForm" *ngIf="display">
        <form [formGroup]="onLoginForm" class="list-form">
          <ion-item>
            <ion-label floating>
              <ion-icon name="mail" item-start class="text-white"></ion-icon>
              Email
            </ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">This field is required</p>

          <ion-item>
            <ion-label floating>
              <ion-icon name="lock" item-start class="text-white"></ion-icon>
              Password
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">This field is required</p>
        </form>


        <div>
          <button ion-button icon-start block outline color="light" (click)="login()" [disabled]="!onLoginForm.valid">
            <ion-icon name="log-in"></ion-icon>
            SIGN IN
          </button>

        </div>
      </div>

      <div id="registerForm" *ngIf="!display">
        <!-- Register form -->
        <form [formGroup]="onRegisterForm" class="list-form">
          <ion-item>
            <ion-label floating>
              <ion-icon name="person" item-start class="text-white"></ion-icon>
              First Name
            </ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('firstName').touched && onRegisterForm.get('firstName').hasError('required')">This field is required</p>
          <ion-item>
            <ion-label floating>
              <ion-icon name="person" item-start class="text-white"></ion-icon>
              Middle Name
            </ion-label>
            <ion-input type="text" formControlName="midName"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('midName').touched && onRegisterForm.get('midName').hasError('required')">This field is required</p>
          <ion-item>
            <ion-label floating>
              <ion-icon name="person" item-start class="text-white"></ion-icon>
              Surname
            </ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('lastName').touched && onRegisterForm.get('lastName').hasError('required')">This field is required</p>


          <ion-item>
            <ion-label floating>
              <ion-icon name="mail" item-start class="text-white"></ion-icon>
              Email
            </ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">This field is required</p>

          <ion-item>
            <ion-label floating>
              <ion-icon name="call" item-start class="text-white"></ion-icon>
              Mobile Number
            </ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('required')">This field is required</p>

          <ion-item>
            <ion-label floating>
              <ion-icon name="map" item-start class="text-white"></ion-icon>
              State of Correspondence
            </ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('address').touched && onRegisterForm.get('address').hasError('required')">This field is required</p>
          <ion-item>
            <ion-label floating>
              <ion-icon name="lock" item-start class="text-white"></ion-icon>
              Password
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">This field is required</p>
        </form>

        <div margin-top>
          <button ion-button block outline (click)="register()" color="light" [disabled]="!onRegisterForm.valid">
            SIGN UP
          </button>

        </div>
      </div>

    </div>


  </div>
</ion-content>
