<ion-menu *ngIf="!guest" side="left" id="authenticated" [content]="content" class="menu-bg">
    <ion-header>
        <ion-toolbar class="user-profile profiles-bg">
            <div class="user-profile">
                <ion-list no-margin>
                    <ion-item>

                        <ion-avatar item-left>
                            <img src="assets/imgs/logo.jpg">
                        </ion-avatar>

                        <h2 ion-text text-center class="text-white fw700 text-15x">
                            {{ userName }}
                        </h2>
                        <p ion-text text-center color="light">{{ userEmail }}</p>
                        <br>
                        <h2 ion-text text-right class="text-white fw700 text-15x">BD Manager</h2>
                    </ion-item>
                </ion-list>

                <ion-grid no-padding>
                    <ion-row class="other-data">
                        <ion-col text-center class="column">
                            <button ion-button icon-start small full menuClose no-margin color="danger" (click)="logOutUser()">
                                <ion-icon name="log-out"></ion-icon>
                                Log Out
                            </button>
                        </ion-col>
                        <ion-col text-center class="column">
                            <button ion-button icon-start small full menuClose no-margin color="dark" (click)="gotoUpdate()">
                                <ion-icon name="alert"></ion-icon>
                                Update Password
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </div>

        </ion-toolbar>
    </ion-header>

    <ion-content  color="primary">

        <ion-list class="user-list">
            <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
                <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
                <span ion-text color="primary">{{menuItem.title}}</span>
            </button>

        </ion-list>

    </ion-content>

</ion-menu>
<ion-nav [root]="rootPage"></ion-nav>
