<ion-header>
  <ion-navbar>
    <ion-title>
      <span ion-text color="primary">Request Details</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="broker lightest-bg">

  <ion-card>
    <ion-card-content class="profiles-bg">
      <h2 class="fw500">{{voucher.user.full_name}}</h2>
      <h3 ion-text color="light">{{voucher.user.category}}</h3>
    </ion-card-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col>

          <ion-list>
            <a href="tel:{{voucher.user.phone}}" ion-item>
              <ion-icon name="text" item-left></ion-icon>
              <p ion-text color="primary">Phone Number</p>
              <h2 ion-text color="dark">{{voucher.user.phone}}</h2>
            </a>
            <a href="mailto:{{voucher.user.email}}" ion-item>
              <ion-icon name="mail" item-left></ion-icon>
              <p ion-text color="primary">Email</p>
              <h2 ion-text color="dark">{{voucher.user.email}}</h2>
            </a>
            <a ion-item>
              <ion-icon name="flash" item-left></ion-icon>
              <p ion-text color="primary">Status</p>
              <h2 ion-text color="dark">{{voucher.status}}</h2>
            </a>
            <a *ngIf="voucher.status==='Approved'" ion-item>
              <ion-icon name="globe" item-left></ion-icon>
              <p ion-text color="primary">Voucher</p>
              <h2 ion-text color="dark">{{voucher.voucher}}</h2>
            </a>
            <a *ngIf="voucher.status==='Rejected'" ion-item>
              <ion-icon name="git-network" item-left></ion-icon>
              <p ion-text color="primary">Reason for Rejection</p>
              <h2 ion-text color="dark">{{voucher.reason}}</h2>
            </a>
            <a ion-item>
              <ion-icon name="git-network" item-left></ion-icon>
              <p ion-text color="primary">Date Created</p>
              <h2 ion-text color="dark">{{voucher.created_at}}</h2>
            </a>
          </ion-list>


          <div *ngIf="isAdmin && voucher.status === 'Pending'">
            <button ion-button icon-start large full color="secondary" >
              <ion-icon name="done-all" (click)="makeApproval(voucher.id)"></ion-icon>
              Approve
            </button>

            <button ion-button icon-start large full color="danger">
              <ion-icon name="close"></ion-icon>
              Reject
            </button>
          </div>


        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
