page-voucher-details {
  .card {
    width: auto;
    border-radius: 0;
    margin: 0;
  }

  ion-card {

    margin-top: 100px;
    overflow: visible;

    ion-card-content {
      padding: 32px;
      background-color: map-get($colors, primary);
      color: #fff;
      text-align: center;
      // padding-bottom: 28px;

      img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        // margin-top: -100px;
        border: solid 4px #fff;
        display: inline;
        box-shadow: 0 0 28px rgba(255,255,255, .65);
        border-width: 8px;
      }

      h2 {
        font-size: 2.5rem;
        margin-top: .5rem;
        color: #fff;
      }

      h3 {
        font-size: 1.8rem;
        color: #fff;
      }

    }

  }
}
